body {
    font-family: 'Libre Baskerville', serif;
    background-image: url("images/Talvi_Taustakuva.jpg");
}

#kalenteritausta {

    height: 700px;
    width: 452px;
    margin: auto;
    margin-top: 10px;
}

#tausta {
    height: 100%;
    width: 100%;
}

.luukku {
    height: 100px;
    width: 100px;
    background-color: white;
    opacity: 0.8;
    margin: auto;
    text-align: center;
}

.luukku_korostus {
    height: 100px;
    width: 100px;
    background-color: pink;
    opacity: 0.8;
    margin: auto;
    text-align: center;
}

.disabloitu {
    height: 100px;
    width: 100px;
    background-color: white;
    opacity: 0.8;
    margin: auto;
    text-align: center;
}

.luukku:hover {
    background-color: lightblue;
}

h1 {
    vertical-align: middle;
}

.flex-container,
.flex-container2,
.flex-container3,
.flex-container4,
.flex-container5,
.flex-container6 {
    display: flex;
    flex-direction: row;
}

.flex-item {
    flex: 1;
    margin-top: 5px;
}