#kalenteritausta {
    
     
}

#tausta {
    height: 100%;
    width: 100%;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    background-image: url("images/winter-3113466_1920.gif");
    height: 700px;
    width: 452px;
    margin: auto;
    margin-top: 10px;
}

.flex-item {
    flex: 1;
    height: 100px;
    width: 50px;
    padding-right: 5px;
    background-color: white;
    opacity: 0.5;
    margin: auto;
}

#luukku1 {
    height: 50px;
    width: 50px;
}